<div class="page-wrapper">
  <div class="row headerRow">
      <div class="col-md-4">
          <h1>Components Builder</h1>
      </div>
      <div class="col-md-4 col-sm-3 align-self-center text-end">

          <button mat-raised-button class="addBtn" routerLink="add-component" >
              + Create a component
          </button>
      </div>

      <div class="col-md-4" style="position: relative; top: 6px">
          <div class="input-group rounded">
              <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                  aria-describedby="search-addon" />
              <span class="input-group-text border-0" id="search-addon">
                  <i   style="cursor: pointer;" class="fa fa-search"></i>
              </span>
          </div>
      </div>

  </div>



  <div class="col-mid-12 tableCol ">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- Position Column -->
          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="headerCell"> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="methodology">
              <th mat-header-cell *matHeaderCellDef class="headerCell"> Methodology </th>
              <td mat-cell *matCellDef="let element"> {{element.methodology}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="category">
              <th mat-header-cell *matHeaderCellDef class="headerCell"> Category </th>
              <td mat-cell *matCellDef="let element"> {{element.category}} </td>
          </ng-container>
          <ng-container matColumnDef="outcome">
            <th mat-header-cell *matHeaderCellDef class="headerCell"> Outcome </th>
            <td mat-cell *matCellDef="let element"> {{element.outcome}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="headerCell"> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="author">
            <th mat-header-cell *matHeaderCellDef class="headerCell"> Author </th>
            <td mat-cell *matCellDef="let element"> {{element.author}} </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderRow"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

      </table>

  </div>
  <div class="row pagiRow">
      <div class="col-md-10" style="width: 95.1%;">
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
              aria-label="Select page of periodic elements">
          </mat-paginator>
      </div>
  </div>

</div>
