<div class="page-wrapper">
    <div class="row headerRow">
        <div class="col-md-4">
            <h1>Users</h1>
        </div>
        <div class="col-md-4 col-sm-3 align-self-center text-end">
            <button mat-raised-button class="addBtn" (click)="openDialog()">
                + Add User
            </button>
        </div>
        <div class="col-md-4" style="position: relative; top: 6px">
            <div class="input-group rounded">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <span class="input-group-text border-0" id="search-addon">
                    <i (click)="test()" style="cursor: pointer;" class="fa fa-search"></i>
                </span>
            </div>
        </div>

    </div>

    <div class="row dropDownRow">
        <div class="col-md-3">
            <div class="btn-group dropdown-action dropDownBtns">
                <button type="button" class="btn btn-white dropdown-toggle dropDownTextAlign"
                    data-bs-toggle="dropdown">Status <i class="fa fa-angle-down dropDownArrow"></i></button>
                <div class="dropdown-menu ">
                    <a class="dropdown-item" href="#">All</a>
                    <a class="dropdown-item" href="#">None</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Read</a>
                    <a class="dropdown-item" href="#">Unread</a>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="btn-group dropdown-action dropDownBtns">
                <button type="button" class="btn btn-white dropdown-toggle dropDownTextAlign"
                    data-bs-toggle="dropdown">Service <i class="fa fa-angle-down  dropDownArrow"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All</a>
                    <a class="dropdown-item" href="#">None</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Read</a>
                    <a class="dropdown-item" href="#">Unread</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 startDateCol">
            <div class="btn-group dropdown-action dropDownBtns">
                <button type="button" class="btn btn-white dropdown-toggle dropDownTextAlign"
                    data-bs-toggle="dropdown">Start Date <i class="fa fa-angle-down dropDownArrow"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All</a>
                    <a class="dropdown-item" href="#">None</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Read</a>
                    <a class="dropdown-item" href="#">Unread</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 endDateCol">
            <div class="btn-group dropdown-action dropDownBtns">
                <button type="button" class="btn btn-white dropdown-toggle dropDownTextAlign"
                    data-bs-toggle="dropdown">End Date <i class="fa fa-angle-down dropDownArrow"></i></button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">All</a>
                    <a class="dropdown-item" href="#">None</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Read</a>
                    <a class="dropdown-item" href="#">Unread</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-mid-12 tableCol ">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="headerCell"> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef class="headerCell"> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef class="headerCell"> Active </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="tableHeaderRow"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; "></tr>

        </table>

    </div>
    <div class="row pagiRow">
        <div class="col-md-10" style="width: 95.1%;">
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                aria-label="Select page of periodic elements">
            </mat-paginator>
        </div>
    </div>

</div>
