<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-inner slimscroll">
        <form action="/search" class="mobile-view">
            <input class="form-control" type="text" placeholder="Search here">
            <button class="btn" type="button"><i class="fa fa-search"></i></button>
        </form>
        <perfect-scrollbar [scrollIndicators]="false">
            <div id="sidebar-menu" class="sidebar-menu" >
                <ul>
                    <li class="nav-item nav-profile">
                        <a href="#" class="nav-link">
                            <div class="nav-profile-image">
                                <img src="assets/img/profiles/avatar-17.jpg" alt="profile">

                            </div>
                            <div class="nav-profile-text">
                                <span class="font-weight-bold">Mohammed Alhasan</span>
                            </div>
                            <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                        </a>
                    </li>

                    <li [ngClass]="[(activeRoute === 'home' ? 'active' : '')] ">
                      <a routerLink="/"><mat-icon>home</mat-icon>
                        <span>home</span></a>
                  </li>
                    <li [ngClass]="[(activeRoute === 'admin' ? 'active' : '')] ">
                        <a routerLink="/admin">	<mat-icon>person</mat-icon> <span>Admin</span></a>
                    </li>
                    <li [ngClass]="[(activeRoute === 'knowledge' ? 'active' : '')] ">
                        <a routerLink="/knowledge"><mat-icon>library_books</mat-icon> <span>Knowledge Library</span></a>
                    </li>

                    <li [ngClass]="[activeRoute === 'components' ? 'active' : '']">
                        <a routerLink="/components">	<mat-icon>apps</mat-icon> <span>Components</span></a>
                    </li>
                    <li [ngClass]="[activeRoute === 'methodology' ? 'active' : '']">
                        <a routerLink="/methodology"><i class="feather-layout"></i> <span>Methodology</span></a>
                    </li>
                    <li [ngClass]="[activeRoute === 'candidate' ? 'active' : '']">
                        <a routerLink="/candidate"><mat-icon>settings</mat-icon> <span>Candidate Projects</span></a>
                    </li>
                    <li [ngClass]="[activeRoute === 'configurator' ? 'active' : '']">
                        <a routerLink="/configurator"><mat-icon>build</mat-icon> <span>Configurator</span></a>
                    </li>
                    <li [ngClass]="[activeRoute === 'estimator' ? 'active' : '']">
                      <a routerLink="/estimator"><mat-icon>build</mat-icon> <span>estimator</span></a>
                  </li>
                    <!-- <li class="submenu">
                        <a href="javascript:void(0);"><i class="feather-command"></i> <span>Multi Level</span> <span
                                class="menu-arrow"></span></a>
                        <ul class="sub-menus">
                            <li class="submenu">
                                <a href="javascript:void(0);"> <span>Level 1</span> <span class="menu-arrow"></span></a>
                                <ul class="sub-menus">
                                    <li><a href="javascript:void(0);"><span>Level 2</span></a></li>
                                    <li class="submenu">
                                        <a href="javascript:void(0);"> <span> Level 2</span> <span
                                                class="menu-arrow"></span></a>
                                        <ul class="sub-menus">
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                            <li><a href="javascript:void(0);">Level 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="javascript:void(0);"> <span>Level 2</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void(0);"> <span>Level 1</span></a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
            </div>
        </perfect-scrollbar>
    </div>
</div>
<!-- /Sidebar -->
