
.nav-profile{
  height: 100px;
}
.nav-profile, .nav-profile a:hover{
  background: none;
}
.nav-profile img{
  width: 50px;
  height: 50px;
}

.sidebar-menu li.active a
,.sidebar-menu li a:hover {

  border-radius: 14px;

}
.sidebar-menu>ul>li{
  margin: 7px 20px;
}
.sidebar-menu>ul>li>a{
  padding: 15px 15px;
}
